  .css-clientform input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-clientform input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
  
  .search{
  	
	  float:right;
	  padding: 0px;
	 
  }
  
  form{
  	
	  float:left;
	  padding: 50px;
  }
  
  label{
  	
	padding: 10px;
  }