	<form name="myForm" class="css-clientform" novalidate>
		<div >
     		<h3>Add Client</h3>
   	  	</div>
	<label>Name:
		<input type="text" name="newClientname" ng-model="newClientname" required>
			<span style="color:red" ng-show="myForm.newClientname.$dirty && myForm.newClientname.$invalid">
				<span ng-show="myForm.newClientname.$error.required">Name is required.</span>
			</span>
	</label>

	<label>Description:
		<input type="text" name="newClientdescription" ng-model="newClientdescription" required>
			<span style="color:red" ng-show="myForm.newClientdescription.$dirty && myForm.newClientdescription.$invalid">
				<span ng-show="myForm.newClientdescription.$error.required">Description is required.</span>
			</span>
	</label>
	
	<label>Type:
		
		<select ng-model="newClienttype">
		  <option value="TRADING" value="TRADING">TRADING</option>
		  <option value="IA" value="IA">IA</option>
		</select>
		
	</label>
	
	<label>Default:
		<input type="checkbox" ng-model="newClientisDefault" ng-true-value="'Y'" ng-false-value="'N'" >
	</label>
	
	<label>
		<input type="button" ng-click="newReset()" value="cancel" />	
	</label>
		
	<label>
		<input type="submit" ng-click="confirm(myForm,newClient)" value="create"
			ng-disabled="myForm.newClientname.$dirty && myForm.newClientname.$invalid ||  
			myForm.newClientdescription.$dirty && myForm.newClientdescription.$invalid">
	</label>

	</form>
	