		<div class="table-responsive">
				<div class="search">Search: <input ng-model="search.$"> </div>
 		    <table class="table table-hover" >
				
				<th>Clients<th>
				
 		      <tr>

 		        <th><a href="" ng-click="reverse=!reverse;order('id',reverse)">ID ^</a></th>
 		        <th><a href="" ng-click="reverse=!reverse;order('name', reverse)">Name ^</a></th>
 		        <th><a href="" ng-click="reverse=!reverse;order('description',reverse)">Description ^</a></th>
 		        <th><a href="" ng-click="reverse=!reverse;order('type',reverse)">Type ^</a></th>
 		        <th><a href="" ng-click="reverse=!reverse;order('isDefault',reverse)">Default ^</a></th>
				<th>Admin</th>
				
 		      </tr>
			  
		   
 		      <tr ng-repeat="client in clientsTable | filter:search:strict">
				 
 		        <td>
					<div ng-hide="editingData[client.id]">{{client.id}}</div>
				    <!--<div ng-show="editingData[client.id]"><input type="number" ng-model="client.id" /></div>-->
				</td>
 		        <td>
					<div ng-hide="editingData[client.id]">{{client.name}}</div>
			   	 	<div ng-show="editingData[client.id]"><input type="text" ng-model="client.name" /></div>
				</td>
 		        <td>
					<div ng-hide="editingData[client.id]">{{client.description}}</div>
				    <div ng-show="editingData[client.id]"><input type="text" ng-model="client.description" /></div>
				</td>
				<td>
					<div ng-hide="editingData[client.id]">{{client.type}}</div>
				    <div ng-show="editingData[client.id]">		<select ng-model="client.type">
		  			  											<option value="TRADING" value="TRADING">TRADING</option>
																<option value="IA" value="IA">IA</option>
																</select></div>
				</td>
				<td>
					<div ng-hide="editingData[client.id]">{{client.isDefault}}</div>
				    <div ng-show="editingData[client.id]"><input type="checkbox" ng-model="client.isDefault" ng-true-value="'Y'" 																				 					ng-false-value="'N'"/></div>
					
				</td>
				
				
                <td>
                    <button ng-hide="editingData[client.id]" ng-click="modify(client)">Edit</button>
					<button ng-show="editingData[client.id]" ng-click="cancelEdit(client)">Cancel</button>
                    <button ng-show="editingData[client.id]" ng-click="update(client)">Update</button>
                    <button ng-show="editingData[client.id]" ng-click="delete(client)">Delete</button>
                </td>
				

 		      </tr>

 		    </table>
		</div>