<!DOCTYPE html>
<html ng-app="BNYMellon">

<head>
	
	<title>BNY Mellon CRUD APP</title>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BNY Mellon CRUD APP</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">


</head>

 <body ng-controller="mainCtrl">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">{{appTitle}}</div>
    </nav>
	
	<!--begin container
    Begin page content -->
    <div class="container">

		<div class="page-header">
     		<h1>{{indexTitle}}</h1>
   	  	</div>

    <!--Begin Test-->
	
	<form name="myForm" class="css-clientform" novalidate>
		<div >
     		<h3>Add Client</h3>
   	  	</div>
	<label>Name:
		<input type="text" name="newClientname" ng-model="newClientname" required>
			<span style="color:red" ng-show="myForm.newClientname.$dirty && myForm.newClientname.$invalid">
				<span ng-show="myForm.newClientname.$error.required">Name is required.</span>
			</span>
	</label>

	<label>Description:
		<input type="text" name="newClientdescription" ng-model="newClientdescription" required>
			<span style="color:red" ng-show="myForm.newClientdescription.$dirty && myForm.newClientdescription.$invalid">
				<span ng-show="myForm.newClientdescription.$error.required">Description is required.</span>
			</span>
	</label>
	
	<label>Type:
		
		<select ng-model="newClienttype">
		  <option value="TRADING" value="TRADING">TRADING</option>
		  <option value="IA" value="IA">IA</option>
		</select>
		
	</label>
	
	<label>Default:
		<input type="checkbox" ng-model="newClientisDefault" ng-true-value="'Y'" ng-false-value="'N'" >
	</label>
	
	<label>
		<input type="button" ng-click="newReset()" value="cancel" />	
	</label>
		
	<label>
		<input type="submit" ng-click="confirm(myForm,newClient)" value="create"
			ng-disabled="myForm.newClientname.$dirty && myForm.newClientname.$invalid ||  
			myForm.newClientdescription.$dirty && myForm.newClientdescription.$invalid">
	</label>

	</form>

 	
		<div class="table-responsive">
				<div class="search">Search: <input ng-model="search.$"> </div>
 		    <table class="table table-hover" >
				
				<th>Clients<th>
				
 		      <tr>

 		        <th><a href="" ng-click="reverse=!reverse;order('id',reverse)">ID ^</a></th>
 		        <th><a href="" ng-click="reverse=!reverse;order('name', reverse)">Name ^</a></th>
 		        <th><a href="" ng-click="reverse=!reverse;order('description',reverse)">Description ^</a></th>
 		        <th><a href="" ng-click="reverse=!reverse;order('type',reverse)">Type ^</a></th>
 		        <th><a href="" ng-click="reverse=!reverse;order('isDefault',reverse)">Default ^</a></th>
				<th>Admin</th>
				
 		      </tr>
			  
		   
 		      <tr ng-repeat="client in clientsTable | filter:search:strict">
				 
 		        <td>
					<div ng-hide="editingData[client.id]">{{client.id}}</div>
				    <!--<div ng-show="editingData[client.id]"><input type="number" ng-model="client.id" /></div>-->
				</td>
 		        <td>
					<div ng-hide="editingData[client.id]">{{client.name}}</div>
			   	 	<div ng-show="editingData[client.id]"><input type="text" ng-model="client.name" /></div>
				</td>
 		        <td>
					<div ng-hide="editingData[client.id]">{{client.description}}</div>
				    <div ng-show="editingData[client.id]"><input type="text" ng-model="client.description" /></div>
				</td>
				<td>
					<div ng-hide="editingData[client.id]">{{client.type}}</div>
				    <div ng-show="editingData[client.id]">		<select ng-model="client.type">
		  			  											<option value="TRADING" value="TRADING">TRADING</option>
																<option value="IA" value="IA">IA</option>
																</select></div>
				</td>
				<td>
					<div ng-hide="editingData[client.id]">{{client.isDefault}}</div>
				    <div ng-show="editingData[client.id]"><input type="checkbox" ng-model="client.isDefault" ng-true-value="'Y'" 																				 					ng-false-value="'N'"/></div>
					
				</td>
				
				
                <td>
                    <button ng-hide="editingData[client.id]" ng-click="modify(client)">Edit</button>
					<button ng-show="editingData[client.id]" ng-click="cancelEdit(client)">Cancel</button>
                    <button ng-show="editingData[client.id]" ng-click="update(client)">Update</button>
                    <button ng-show="editingData[client.id]" ng-click="delete(client)">Delete</button>
                </td>
				

 		      </tr>

 		    </table>
		</div>
  
    </div>
    <!--end container-->
	
    <footer class="footer">
      <div class="container">
        <p class="text-muted">BNY Mellon Prototype 2015</p>
      </div>
    </footer>


    <!-- core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="js/angular.min.js"></script>
	<script src="app/bny-mellon-app.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>


</html>